@mixin flex-center 
    display: flex
    justify-content: center
    align-items: center
    margin-block: 5rem

@mixin card-flex
    display: flex
    flex-direction: column
    gap: 2rem
    padding: 3rem